.container .places h1{
	font-size: 30px;
	top: 0;
	right: 0;
	margin-bottom: -10px;
}
.container .places .articles {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.container .places article {
	width: 390px;
	margin: 20px;
	padding: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
	text-align: center;
}
.container .places article h2 {
	font-size: 30px;
	margin: 0;
	padding: 0;
}
