.container .places h1{
	font-size: 30px;
	top: 0;
	right: 0;
	margin-bottom: -10px;
}
.container .places .articles {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.container .places article {
	width: 390px;
	margin: 20px;
	padding: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
	text-align: center;
}
.container .places article h2 {
	font-size: 30px;
	margin: 0;
	padding: 0;
	display: inline-block;
}
.container .places .articles .price_by_night h2 {
	margin-top: 15px;
	font-size: 30px;
}
.container .places .articles .price_by_night {
	color: #FF5A5F;
	border: 4px solid #FF5A5F;
	border-radius: 50%;
	padding: 10px;
	float: right;
	text-align: center;
	min-width: 60px;
	height: 60px;
	margin: 0 0 20px 0;
}
.container .places .articles .information {
	clear: right;
	height: 80px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	display: flex;
	justify-content: center;
}
.container .places .articles .information .max_guest .icon,
.container .places .articles .information .number_rooms .icon,
.container .places .articles .information .number_bathrooms .icon {
	width: 100px;
	padding-bottom: 50px;
	margin-left: 30px;
	background-size: contain;
	background-repeat: no-repeat;
}
.container .places .articles .information .max_guest .icon {
	background-image: url('../images/icon_group.png');
}
.container .places .articles .information .number_rooms .icon {
	background-image: url('../images/icon_bed.png');
}
.container .places .articles .information .number_bathrooms .icon {
	background-image: url('../images/icon_bath.png');
}
.container .places .articles .user .owner {
	font-weight: bold;
}
.container .places .articles .user {
	text-align: left;
	margin-top: 20px;
	margin-bottom: 10px;
}
.container .places .articles .description {
	text-align: left;
	margin-bottom: 20px;
}
